.diva{
width: 100%;

height: 1865px;
position: relative;
z-index: 0;
background: #FFFFFF;
}
.yyfwqtext
{

    margin: 17px auto;
	top:-2%;
	left:37%;
	
	font-size:78px;
	color:#000;
	position: absolute;

}
.yyfwqtimetext
{


	top:15%;
	left:42%;
	
	
	font-size:18px;
	color:#000;
	
	border:#FFF;
	position: absolute;

}
.yyfwqlidiao
{
    height: 94px;
	width:106px;
	top:26%;
	left:25%;
	z-index: 0;
	position: absolute;

}
.yyfwqlidiaotext
{
	top:22%;
	left:27.2%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqlidiaoline
{
    height: 93px;
	width:4px;
	top:39%;
	left:28.2%;
	z-index: 0;
	position: absolute;

}
.yyfwqzhudiao
{
    height: 94px;
	width:106px;
	top:26%;
	left:37%;
	z-index: 0;
	position: absolute;

}
.yyfwqzhudiaotext
{
	top:22%;
	left:39.2%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqzhudiaoline
{
    height: 93px;
	width:4px;
	top:39%;
	left:40.2%;
	z-index: 0;
	position: absolute;

}
.yyfwqshujuku
{
    height: 100px;
	width:100px;
	top:26%;
	left:49%;
	z-index: 0;
	position: absolute;
	z-index: 1;

}
.yyfwqshujukutext
{
	top:22%;
	left:48.8%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqshujukuline
{
    height: 93px;
	width:4px;
	top:39%;
	left:52.2%;
	z-index: 0;
	position: absolute;
	z-index: 0;

}
.yyfwqlinshixiansu
{
    height: 93px;
	width:102px;
	top:26%;
	left:61%;
	z-index: 0;
	position: absolute;
	z-index: 1;

}
.yyfwqlinshixiansutext
{
	top:22%;
	left:60.1%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqlinshixiansuline
{
    height: 93px;
	width:4px;
	top:39%;
	left:64.3%;
	z-index: 0;
	position: absolute;
	z-index: 0;

}
.yyfwqrbc
{
    height: 94px;
	width:106px;
	top:26%;
	left:73%;
	z-index: 0;
	position: absolute;

}
.yyfwqrbctext
{
	top:22%;
	left:75.1%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqrbcline
{
    height: 93px;
	width:4px;
	top:39%;
	left:76.3%;
	z-index: 0;
	position: absolute;

}
.fengexian1
{
    height: 5px;
	width:961px;
	top:51%;
	left:21.3%;
	z-index: 0;
	position: absolute;

}
.fengexian2
{
    height: 5px;
	width:961px;
	top:56%;
	left:21.3%;
	z-index: 0;
	position: absolute;

}
.yyfwqbjnzzlj
{
    height: 94px;
	width:106px;
	top:69.8%;
	left:30%;
	z-index: 0;
	position: absolute;

}
.yyfwqbjnzzljtext
{
	top:83%;
	left:29.2%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqbjnzzljline
{
    height: 93px;
	width:4px;
	top:56.8%;
	left:33.2%;
	z-index: 0;
	position: absolute;

}
.yyfwqnjnzzlj
{
    height: 94px;
	width:106px;
	top:69.8%;
	left:42%;
	z-index: 0;
	position: absolute;

}
.yyfwqnjnzzljtext
{
	top:83%;
	left:41.2%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqnjnzzljline
{
    height: 93px;
	width:4px;
	top:56.8%;
	left:45.2%;
	z-index: 0;
	position: absolute;

}
.yyfwqshhqzzlj
{
    height: 94px;
	width:106px;
	top:69.8%;
	left:54%;
	z-index: 0;
	position: absolute;

}
.yyfwqshhqzzljtext
{
	top:83%;
	left:53.2%;
	
	font-size:18px;
	color:#000;
	position: absolute;

}
.yyfwqshhqzzljline
{
    height: 93px;
	width:4px;
	top:56.8%;
	left:57.2%;
	z-index: 0;
	position: absolute;

}
.yyfwqinput
{
    height: 73px;
	width:1099px;

	top:87%;
	left:17%;
	position: absolute;

}