.lsxsfwqdiva{
width: 100%;

height: 865px;
position: relative;
z-index: 0;
background: #FFFFFF;
}
.lsxsfwqhy
{
    margin: 7px auto;
	top:0.3%;
	left:7%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqhyinput
{
    height: 200px;
	width:900px;
    margin: 17px auto;
	top:1%;
	left:7%;
	position: absolute;
	background-color:#ABABAB;
}
.lsxsfwqsx
{
    margin: 7px auto;
	top:27.3%;
	left:7%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqsxinput
{
    height: 200px;
	width:900px;
    margin: 17px auto;
	top:28%;
	left:7%;
	position: absolute;
	background-color:#ABABAB;
}
.lsxsfwqgzjd
{
    margin: 7px auto;
	top:0.3%;
	left:74%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqgzjdinput
{
    height: 436px;
	width:300px;
    margin: 17px auto;
	top:1%;
	left:74%;
	position: absolute;
	background-color:#FFF;
}
.lsxsfwqmlxq
{
    margin: 7px auto;
	top:55%;
	left:7%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqmlh
{
    margin: 7px auto;
	top:59%;
	left:12%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqmlhinput
{
	margin: 7px auto;
	width: 180px;
	top:59%;
	left:16%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqmlzt
{
    margin: 7px auto;
	top:62%;
	left:12%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqmlztinput
{
	margin: 7px auto;
	width: 180px;
	top:62%;
	left:16%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqslcz
{
    margin: 7px auto;
	top:62%;
	left:12%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqslczinput
{
	margin: 7px auto;
	width: 186px;
	top:62%;
	left:16%;
	height:auto;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsyy
{
    margin: 7px auto;
	top:62%;
	left:12%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsyyinput
{
	margin: 7px auto;
	width: 186px;
	top:62%;
	left:16%;
	height:auto;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsz
{
    margin: 7px auto;
	top:65%;
	left:12%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxszinput
{
	margin: 7px auto;
	width: 186px;
	top:65%;
	left:16%;
	height:auto;
	font-size:13px;
	color:#000;
	position: absolute;

}



.lsxsfwqbegintime
{
    margin: 7px auto;
	top:59%;
	left:50%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqbegintimeinput
{
	margin: 7px auto;
	width: 180px;
	top:59%;
	left:55%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqendtime
{
    margin: 7px auto;
	top:62%;
	left:50%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqendtimeinput
{
	margin: 7px auto;
	width: 180px;
	top:62%;
	left:55%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxlh
{
    margin: 7px auto;
	top:65%;
	left:50%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxlhinput
{
	margin: 7px auto;
	width: 186px;
	top:65%;
	left:55%;
	height:auto;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsqqd
{
    margin: 7px auto;
	top:68%;
	left:56%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsqqdinput
{
	margin: 7px auto;
	width: 78px;
	top:68%;
	left:59%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsqzd
{
    margin: 7px auto;
	top:71%;
	left:56%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqxsqzdinput
{
	margin: 7px auto;
	width: 78px;
	top:71%;
	left:59%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqcch
{
    margin: 7px auto;
	top:69.5%;
	left:50%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqcchchoice
{
	margin: 7px auto;
	width: auto;
	top:69.5%;
	left:52.5%;
	height:auto;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqfasongabutton
{
    margin: 7px auto;
	top:75%;
	left:60%;
	
	
	color:#000;
	position: absolute;

}

.lsxsfwqchexiaoabutton
{
    margin: 7px auto;
	top:75%;
	left:63%;
	
	
	color:#000;
	position: absolute;

}

.shuaxin
{
    margin: 7px auto;
	top:75%;
	left:56%;
	
	
	color:#000;
	position: absolute;

}

.lsxsfwqtxzt
{
    margin: 7px auto;
	top:55%;
	left:74%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}

.lsxsfwqctc
{
    margin: 7px auto;
	top:59%;
	left:77%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqctcinput
{
    margin: 7px auto;
	top:59%;
	left:84%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqrbc
{
    margin: 7px auto;
	top:62%;
	left:77%;
	
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqrbcinput
{
    margin: 7px auto;
	top:62%;
	left:84%;
	height:13px;
	font-size:13px;
	color:#000;
	position: absolute;

}
.lsxsfwqfasongctcbutton
{
    margin: 7px auto;
	top:66%;
	left:81%;
	
	
	color:#000;
	position: absolute;

}

.lsxsfwqfasongrbcbutton
{
    margin: 7px auto;
	top:66%;
	left:87%;
	
	
	color:#000;
	position: absolute;

}

img{     
          position:absolute;  
          left:80px;
          top:610px;
}